<a href="https://colab.research.google.com/github/jessejk484/Jashwanthkalyan_INFO5731_SPRING2023/blob/main/In_class_exercise_02_02072023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The second In-class-exercise (02/07/2023, 40 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points): Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [39]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Demand for cars increasing day by day as it is primary source for transport in Texas. Lot of people tends to buy used cars rather than new cars due to more price for new cars.
So in used cars, searching vehicles which are denton within 30 miles.

1) How to fetch best cars among list of cars by using good deal or great deal?
2) What is make and model, mileage of each car listed?
3) Does home delivery and virtual appoinments are avaliable or not for particular vechile 
4) I need large volume of data for permforming the analysis , having the large volume of the helps us in choosing among the best one 
5) By using web scraping we can collect the data and store in csv file format 






'''

'\nPlease write you answer here:\n\nDemand for cars increasing day by day as it is primary source for transport in Texas. Lot of people tends to buy used cars rather than new cars due to more price for new cars.\nSo in used cars, searching vehicles which are denton within 30 miles.\n\n1) How to fetch best cars among list of cars by using good deal or great deal?\n2) What is make and model, mileage of each car listed?\n3) Does home delivery and virtual appoinments are avaliable or not for particular vechile \n4) I need large volume of data for permforming the analysis , having the large volume of the helps us in choosing among the best one \n5) By using web scraping we can collect the data and store in csv file format \n\n\n\n\n\n\n'

Question 2 (10 points): Write python code to collect 1000 data samples you discussed above.

In [40]:
# You code here (Please add comments in the code):

import requests
from bs4 import BeautifulSoup
import re
import time
import pandas as pd

cars_data = []
webpages = 3
for i in range(webpages):
  url = f"https://www.cars.com/shopping/denton-tx/?page={i}"
  data = requests.get(url)
  soup = BeautifulSoup(data.content, "html.parser")
  car_names = soup.findAll("a", attrs={"data-linkname":"vehicle-listing"})
  for name in car_names:
    car_name = name.text.strip().replace("\n","")
    car_url = name.get("href")
    car_parent = name.parent
    if not car_parent.find("span", attrs={"class": "sds-badge__label"}):
      continue
    if not car_parent.find("div", attrs={"class": "mileage"}):
      continue
    if not car_parent.find("div", attrs={"class": "price-section price-section-vehicle-card"}):
      continue
    if not car_parent.find("div", attrs={"class": "sds-rating"}):
      continue
    category = car_parent.find("span", attrs={"class": "sds-badge__label"}).text.strip().replace("\n","")
    mileage = car_parent.find("div", attrs={"class": "mileage"}).text.strip().replace("\n","")
    price = car_parent.find("div", attrs={"class": "price-section price-section-vehicle-card"}).text.strip().replace("\n","")
    rating = car_parent.find("div", attrs={"class": "sds-rating"}).text.strip().replace("\n","")
    cars_data.append([car_name, car_url, category, mileage, price, rating])
  time.sleep(4)
  print("Done with page: {}".format(i+1))

cars_data_frame = pd.DataFrame(cars_data, columns=["Car Name", "UrL", "Category", "Mileage", "Price", "rating"])
cars_data_frame.head()

Done with page: 1
Done with page: 2
Done with page: 3

,Car Name,UrL,Category,Mileage,Price,rating
0,2022 Volkswagen Arteon 2.0T SEL R-Line,/vehicledetail/907c5e9f-334f-4f4e-a303-85fdac4...,Good Deal,"6,173 mi.","$38,816",4.3(287 reviews)
1,2021 Ford Expedition Max XLT,/vehicledetail/59a8db0f-600d-4dac-8f7c-2b7a556...,Good Deal,"25,537 mi.","$50,741",4.5(445 reviews)
2,2016 Porsche Boxster Base,/vehicledetail/4c4ab32a-c0b9-4497-8159-db5ae99...,Great Deal,"45,846 mi.","$42,985","4.1(2,066 reviews)"
3,2023 BMW iX M60,/vehicledetail/cb3f7a90-c58c-40e7-9d14-445afa6...,CPO Warrantied,876 mi.,"$106,993","4.5(1,070 reviews)"
4,2020 BMW 840 i,/vehicledetail/e1ba4e17-14c2-4dbe-80f2-5e2b0b1...,Great Deal,"15,376 mi.","$67,998","4.5(1,070 reviews)"

[link text](https://)Question 3 (10 points): Write python code to collect 1000 articles from Google Scholar (https://scholar.google.com/), Microsoft Academic (https://academic.microsoft.com/home), or CiteSeerX (https://citeseerx.ist.psu.edu/index), or Semantic Scholar (https://www.semanticscholar.org/), or ACM Digital Libraries (https://dl.acm.org/) with the keyword "information retrieval". The articles should be published in the last 10 years (2012-2022).

The following information of the article needs to be collected:

(1) Title

(2) Venue/journal/conference being published

---



(3) Year

(4) Authors

(5) Abstract

In [43]:
from selenium import webdriver
from bs4 import BeautifulSoup


#run Selenium in headless mode
def driversetup():
    options = webdriver.ChromeOptions()
    options.add_argument('--headless')
    options.add_argument('--no-sandbox')
    #overcome limited resource problems
    options.add_argument('--disable-dev-shm-usage')
    options.add_argument("lang=en")
    #open Browser in maximized mode
    options.add_argument("start-maximized")
    #disable infobars
    options.add_argument("disable-infobars")
    #disable extension
    options.add_argument("--disable-extensions")
    options.add_argument("--incognito")
    options.add_argument("--disable-blink-features=AutomationControlled")
    
    driver = webdriver.Chrome(options=options)

    driver.execute_script("Object.defineProperty(navigator, 'webdriver', {get: () => undefined});")

    return driver


def pagesource(driver):
    driver = driver
    driver.get('https://scholar.google.com/scholar?q=Information+retrieval&hl=en&as_sdt=0%2C44&as_ylo=2013&as_yhi=2023')
    soup = BeautifulSoup(driver.page_source)
    driver.close()
    return soup


    title = driver.find_elements_by_xpath('//*[@class="gs_rt"]/a/b').text
    title

Question 4 (10 points): Write python code to collect 1000 posts from Twitter, or Facebook, or Instagram. You can either use hashtags, keywords, user_name, user_id, or other information to collect the data. 

The following information needs to be collected:

(1) User_name

(2) Posted time

(3) Text

In [41]:
# You code here (Please add comments in the code):


import tweepy

# assign the values accordingly
consumer_key = "u7L1lnR7HN85dn1qnTFO1cegb"
consumer_secret = "QN1JrEmit2To46ZcwWAT4aI5QGWZXWRDDUPnMCWV5M66SFc8wT"
access_token = "1144377060036620294-BSEicX3zH7hIhksbNZV9mrWFwa07cO"
access_token_secret = "gxWMOodDq1nQAjix9mHEOUSAtgE7XH5ctHInm0XRslJce"

# authorization of consumer key and consumer secret
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)

# set access to user's access key and access secret
auth.set_access_token(access_token, access_token_secret)

# calling the api
api = tweepy.API(auth)

# screen name of the account to be fetched
screen_name = "sharukh"

# fetching the statuses
statuses = api.user_timeline(screen_name, count=1000)

print(str(len(statuses)) + " number of statuses have been fetched.")
tweets_all = []
for status in statuses:
  tweets_all.append([status.text, status.user.screen_name, status.created_at])

tweet_df = pd.DataFrame(tweets_all, columns=['text', 'username', 'created_time'])
tweet_df.head()

4 number of statuses have been fetched.

,text,username,created_time
0,WORK SUCKED TODAAAY :(( I wish i could be like...,Sharukh,2011-06-22 15:43:16
1,Inspiring for ANYONE who hates their job and t...,Sharukh,2011-06-20 00:27:03
2,I'm sooo not looking forward to getting up for...,Sharukh,2011-06-17 01:50:15
3,WORK SUCKED TODAAAY :(( I wish i could be like...,Sharukh,2011-06-14 16:07:08