<a href="https://colab.research.google.com/github/jessejk484/Jashwanthkalyan_INFO5731_SPRING2023/blob/main/In_class_exercise_03_02282023.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (2/28/2023, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:

Demand for cars increasing day by day as it is primary source for transport in Texas. Lot of people tends to buy used cars rather than new cars due to more price for new cars.
So in used cars, searching vehicles which are denton within 30 miles. Five different features used here are

1) Car Name
2) Category
3) Mileage
4) Price 
5) rating 




'''

Question 2 (10 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [73]:
# You code here (Please add comments in the code):


import requests
from bs4 import BeautifulSoup
import re
import time
import pandas as pd

cars_data = []
webpages = 7
for i in range(webpages):
  url = f"https://www.cars.com/shopping/denton-tx/?page={i}"
  data = requests.get(url)
  soup = BeautifulSoup(data.content, "html.parser")
  car_names = soup.findAll("a", attrs={"data-linkname":"vehicle-listing"})
  for name in car_names:
    car_name = name.text.strip().replace("\n","")
    #car_url = name.get("href")
    car_parent = name.parent
    if not car_parent.find("span", attrs={"class": "sds-badge__label"}):
      continue
    if not car_parent.find("div", attrs={"class": "mileage"}):
      continue
    if not car_parent.find("div", attrs={"class": "price-section price-section-vehicle-card"}):
      continue
    if not car_parent.find("div", attrs={"class": "sds-rating"}):
      continue
    category = car_parent.find("span", attrs={"class": "sds-badge__label"}).text.strip().replace("\n","")
    mileage = car_parent.find("div", attrs={"class": "mileage"}).text.strip().replace(",","").replace("mi.","").replace("\n","")
    price = car_parent.find("div", attrs={"class": "price-section price-section-vehicle-card"}).text.strip().replace("$","").replace(",","").replace("\n","")
    rating = car_parent.find("div", attrs={"class": "sds-rating"}).text.strip().replace("()","").replace("\n","")
    cars_data.append([car_name, category, mileage, price, rating])
  time.sleep(4)
  print("Done with page: {}".format(i+1))

cars_data_frame = pd.DataFrame(cars_data, columns=["Car Name", "Category", "Mileage", "Price", "rating"])
cars_data_frame.head(20)

Done with page: 1
Done with page: 2
Done with page: 3
Done with page: 4
Done with page: 5
Done with page: 6
Done with page: 7

,Car Name,Category,Mileage,Price,rating
0,2022 Honda Civic Si Base,Great Deal,14079,30769,"4.7(1,061 reviews)"
1,2021 Subaru Ascent Premium 7-Passenger,Great Deal,40353,29877,"4.5(1,672 reviews)"
2,2020 Kia Telluride SX,Great Deal,54432,40577,"4.5(1,672 reviews)"
3,2021 Ford F-150 Raptor,Fair Deal,23105,78000,"4.8(1,430 reviews)"
4,2019 Hyundai Elantra GT Base,Good Deal,94287,15907,"4.8(1,430 reviews)"
5,2016 Chevrolet Corvette Stingray,Great Deal,2901,54598,(0 reviews)
6,2017 Porsche 911 Carrera S,Great Deal,14852,91997,4.5(455 reviews)
7,2022 Toyota Tundra SR5,Great Deal,2252,48443,"4.7(5,620 reviews)"
8,2023 Toyota Tundra Limited,Great Deal,2402,53574,"4.7(5,620 reviews)"
9,2021 Kia Seltos S,Good Deal,16708,25995,3.4(18 reviews)
10,2021 Maserati Levante S,Great Deal,16049,59995,3.4(18 reviews)
11,2022 Kia Telluride SX,Great Deal,51884,46995,3.4(18 reviews)
12,2020 Land Rover Range Rover Velar S R-Dynamic,Good Deal,27651,55500,3.4(18 reviews)
13,2021 Volvo XC90 T6 Momentum 6 Passenger,Great Deal,24435,46998,"4.9(1,698 reviews)"
14,2021 Volvo XC90 T6 Momentum 7 Passenger,Great Deal,20979,48431,"4.9(1,698 reviews)"
15,2021 Volvo XC90 T5 Momentum 7 Passenger,Great Deal,32326,41884,"4.9(1,698 reviews)"
16,2022 Volvo XC60 B6 R-Design,Good Deal,7152,55544,"4.9(1,698 reviews)"
17,2020 Volvo XC40 T5 R-Design,Great Deal,22134,36610,"4.9(1,698 reviews)"
18,2021 Volvo S60 T6 R-Design,Good Deal,28419,39998,"4.9(1,698 reviews)"
19,2022 Volvo S90 B6 R-Design,Good Deal,7936,52802,"4.9(1,698 reviews)"

In [74]:
for x in range(len(cars_data_frame)):
  cars_data_frame.loc[x, "rating"] = cars_data_frame.loc[x, "rating"].split("(")[0]

cars_data_frame.head()

                                 Car Name    Category Mileage  Price rating
0                2022 Honda Civic Si Base  Great Deal  14079   30769    4.7
1  2021 Subaru Ascent Premium 7-Passenger  Great Deal  40353   29877    4.5
2                   2020 Kia Telluride SX  Great Deal  54432   40577    4.5
3                  2021 Ford F-150 Raptor   Fair Deal  23105   78000    4.8
4            2019 Hyundai Elantra GT Base   Good Deal  94287   15907    4.8

In [75]:
for x in range(len(cars_data_frame)):
  if cars_data_frame.loc[x,"rating"]:
    cars_data_frame.loc[x, "rating"] = round(float(cars_data_frame.loc[x, "rating"]),0)
  else:
    cars_data_frame.loc[x, "rating"] = 0

cars_data_frame.head()

                                 Car Name    Category Mileage  Price rating
0                2022 Honda Civic Si Base  Great Deal  14079   30769    5.0
1  2021 Subaru Ascent Premium 7-Passenger  Great Deal  40353   29877    4.0
2                   2020 Kia Telluride SX  Great Deal  54432   40577    4.0
3                  2021 Ford F-150 Raptor   Fair Deal  23105   78000    5.0
4            2019 Hyundai Elantra GT Base   Good Deal  94287   15907    5.0

In [76]:
cars_data_frame['rating'] = cars_data_frame['rating'].astype(int)
cars_data_frame['Mileage'] = cars_data_frame['Mileage'].astype(int)
cars_data_frame['Price'] = cars_data_frame['Price'].astype(int)
cars_data_frame.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97 entries, 0 to 96
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Car Name  97 non-null     object
 1   Category  97 non-null     object
 2   Mileage   97 non-null     int64
 3   Price     97 non-null     int64
 4   rating    97 non-null     int64
dtypes: int64(3), object(2)
memory usage: 3.9+ KB

In [77]:
cars_data_frame.head()

                                 Car Name    Category  Mileage  Price  rating
0                2022 Honda Civic Si Base  Great Deal    14079  30769       5
1  2021 Subaru Ascent Premium 7-Passenger  Great Deal    40353  29877       4
2                   2020 Kia Telluride SX  Great Deal    54432  40577       4
3                  2021 Ford F-150 Raptor   Fair Deal    23105  78000       5
4            2019 Hyundai Elantra GT Base   Good Deal    94287  15907       5

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [78]:
# You code here (Please add comments in the code):
from sklearn.feature_selection import f_regression
from sklearn.feature_selection import SelectKBest

#Splitting data into target and feature
X = cars_data_frame[['Mileage','rating']].to_numpy()
y = cars_data_frame['Price']

#applying selectKBest
selector = SelectKBest(f_regression, k=2)
selector.fit(X, y)
print('score', selector.scores_)
print('Selected indices', selector.get_support(True))

score [42.47503107  3.40029897]
Selected indices [0 1]

Question 4 (10 points): Write python code to rank the text based on text similarity. Based on the text data you used for question 2, design a query to match the most relevant docments. Please use the BERT model to represent both your query and the text data, then calculate the cosine similarity between the query and each text in your data. Rank the similary with descending order.

In [79]:
pip install sentence-transformers

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: sentence-transformers in /usr/local/lib/python3.9/dist-packages (2.2.2)
Requirement already satisfied: torch>=1.6.0 in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.13.1+cu116)
Requirement already satisfied: torchvision in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (0.14.1+cu116)
Requirement already satisfied: sentencepiece in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (0.1.97)
Requirement already satisfied: huggingface-hub>=0.4.0 in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (0.13.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.22.4)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (4.26.1)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.2.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (4.65.0)
Requirement already satisfied: scipy in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (1.10.1)
Requirement already satisfied: nltk in /usr/local/lib/python3.9/dist-packages (from sentence-transformers) (3.7)
Requirement already satisfied: packaging>=20.9 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (23.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (4.5.0)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (6.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (3.9.0)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from huggingface-hub>=0.4.0->sentence-transformers) (2.25.1)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.9/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (2022.6.2)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in /usr/local/lib/python3.9/dist-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers) (0.13.2)
Requirement already satisfied: joblib in /usr/local/lib/python3.9/dist-packages (from nltk->sentence-transformers) (1.2.0)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from nltk->sentence-transformers) (8.1.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.9/dist-packages (from scikit-learn->sentence-transformers) (3.1.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in /usr/local/lib/python3.9/dist-packages (from torchvision->sentence-transformers) (8.4.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers) (2022.12.7)

In [102]:
# You code here (Please add comments in the code):

from sentence_transformers import SentenceTransformer

model = SentenceTransformer('bert-base-nli-mean-tokens')

In [103]:
sentence_embeddings = model.encode(cars_data_frame['Car Name'])

In [104]:
sentence_embeddings.shape

(97, 768)

In [105]:
from sklearn.metrics.pairwise import cosine_similarity

In [106]:
cosine_similarity(
    [sentence_embeddings[0]],
    sentence_embeddings[:]
)

array([[0.99999994, 0.5684082 , 0.7307058 , 0.5857072 , 0.7178238 ,
        0.51456714, 0.58133817, 0.7647278 , 0.81686217, 0.7242922 ,
        0.68300974, 0.7949239 , 0.6356378 , 0.5512598 , 0.58220017,
        0.57641375, 0.7475741 , 0.6646886 , 0.64134043, 0.77152115,
        0.7531607 , 0.8236265 , 0.56321156, 0.65172756, 0.64426243,
        0.61530113, 0.61894155, 0.6433311 , 0.71803516, 0.8358668 ,
        0.7183986 , 0.7214461 , 0.7582263 , 0.7891567 , 0.7271669 ,
        0.67907304, 0.6920868 , 0.5717194 , 0.60958266, 0.6156373 ,
        0.64354193, 0.66654164, 0.55900323, 0.5416037 , 0.54477954,
        0.60376036, 0.6322733 , 0.50959164, 0.6465987 , 0.62513334,
        0.57098615, 0.71699417, 0.6846455 , 0.6132964 , 0.70660895,
        0.72338676, 0.63578624, 0.5532823 , 0.6438749 , 0.6749289 ,
        0.64376974, 0.77882916, 0.61124635, 0.7245841 , 0.71698195,
        0.56206536, 0.6792351 , 0.62735677, 0.8203685 , 0.63175654,
        0.53549564, 0.648057  , 0.6687703 , 0.66029584, 0.68818974,
        0.63012546, 0.6698046 , 0.6377334 , 0.61759645, 0.71234083,
        0.5904424 , 0.69471604, 0.823411  , 0.75596607, 0.6999378 ,
        0.5903182 , 0.68672806, 0.6416412 , 0.58361554, 0.67856824,
        0.65700644, 0.7891567 , 0.76348984, 0.619477  , 0.5714776 ,
        0.56971973, 0.64976203]], dtype=float32)

In [108]:

cars_data_frame['similarity'] = cosine_similarity(
    [sentence_embeddings[0]],
    sentence_embeddings[:]
)[0]

In [109]:
cars_data_frame.sort_values(by="similarity", ascending=False, inplace=True)
cars_data_frame.head()

,Car Name,Category,Mileage,Price,rating,similarity
0,2022 Honda Civic Si Base,Great Deal,14079,30769,5,1.000000
29,2022 Nissan Armada SL,Good Deal,2363,49974,5,0.835867
21,2022 Ford Expedition Max Limited,Great Deal,18552,63689,5,0.823627
82,2022 Chrysler Pacifica Touring L,Great Deal,25653,33929,5,0.823411
68,2022 Ford F-150,Great Deal,24332,54898,5,0.820369