<a href="https://colab.research.google.com/github/jessejk484/Jashwanthkalyan_INFO5731_SPRING2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [111]:
# write your answer here
str1 = "Hello! I'm Jashwanth"
print(len(str1))

20

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [112]:
# write your answer here
str1 = "google.com"
test = {}
 
for i in str1:
    if i in test:
        test[i] += 1
    else:
        test[i] = 1
        
print(dict(sorted(test.items(),key=lambda i:i[1],reverse=True)))

{'o': 3, 'g': 2, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [113]:
# write your answer here
data=[]
n=int(input("Enter number of items: "))
for i in range(n):
  v=int(input("Enter: "))
  data.append(v)
print(sum(data))

Enter number of items: 4
Enter: 1
Enter: 6
Enter: 84
Enter: 0
91

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [116]:
# write your answer here
test_string='restart'
print("Sample String:"+str(test_string))
v='$'
result=test_string[0] + test_string[1:].replace(test_string[0], v)
print("Expected Result:"+str(result))

Sample String:restart
Expected Result:resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [118]:
# write your answer here
a=float(input("Enter a: "))
b=float(input("Enter b: "))
s= 3.14*((1+a/b)**3)
s

Enter a: 1
Enter b: 6

4.986203703703705

6(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [119]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for dic in (dic1, dic2, dic3): dic4.update(dic)
print("The concatenate dictionary is:"+str(dic4))

The concatenate dictionary is:{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [120]:
# write your answer here
tup1=('a','t','d','y',9,'z','j',3,'q',7,1)
x='x'
print(x in tup1)

False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [121]:
# write your answer here
set1 = set([10,43,3,77,-2,8])
print("Maximum value in set is: " +str(max(set1))+ "\nMinimum value in set is: " +str(min(set1)))

Maximum value in set is: 77
Minimum value in set is: -2

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [122]:
# write your answer here
import random 
student_list =  ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
random.shuffle(student_list)
div_stud_list=[]
parts=len(student_list)//6
print(parts)
print(len(student_list))
for i in range(0,len(student_list),parts):
  if (i+parts)<len(student_list):
    div_stud_list.append(student_list[i:i+parts])
  else:
    div_stud_list.append(student_list[i:])
l = div_stud_list[6:]
div_stud_list=div_stud_list[:6]

for j in range(len(div_stud_list)):
  for k in range(len(l)):
    for m in range(len(l[k])):
      if len(div_stud_list[j])<=5 and l[k][m]!=-1:
        div_stud_list[j].append(l[k][m])
        l[k][m]=-1
print(div_stud_list)

5
30
[['sm1640', 'gn0108', 'vb0218', 'nm0618', 'av0659'], ['sk1313', 'hy0232', 'kg0569', 'ds0814', 'nv0234'], ['bg0320', 'sa1198', 'fh0141', 'kg0470', 'aos0040'], ['sk1390', 'ak0956', 'pr0353', 'ms1500', 'sk1386'], ['sc1229', 'vm0377', 'sb1357', 'ak0934', 'dr0609'], ['sm1907', 'sk1458', 'ja0964', 'jl1252', 'sg1297']]

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
arr1 = [1, 3, 4, 2, 8, 3, -1, 7, 8, -5, -1]
for i in range(0, len(arr1)):    
    for j in range(i+1, len(arr1)):    
        if(arr1[i] == arr1[j]):    
            print(arr1[j]);

3
8
-1

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date
import calendar
Year= int(input("Enter the year: "))
A=calendar.TextCalendar(calendar.SUNDAY)
for month in range(1,13):
    for days in A.itermonthdays(Year,month):
        if days!=0:
            day=date(Year,month,days)
            if day.weekday()==6:
                print("%s,%d-%d-%d" % (calendar.day_name[6] ,month,days,Year))

Enter the year: 2089
Sunday,1-2-2089
Sunday,1-9-2089
Sunday,1-16-2089
Sunday,1-23-2089
Sunday,1-30-2089
Sunday,2-6-2089
Sunday,2-13-2089
Sunday,2-20-2089
Sunday,2-27-2089
Sunday,3-6-2089
Sunday,3-13-2089
Sunday,3-20-2089
Sunday,3-27-2089
Sunday,4-3-2089
Sunday,4-10-2089
Sunday,4-17-2089
Sunday,4-24-2089
Sunday,5-1-2089
Sunday,5-8-2089
Sunday,5-15-2089
Sunday,5-22-2089
Sunday,5-29-2089
Sunday,6-5-2089
Sunday,6-12-2089
Sunday,6-19-2089
Sunday,6-26-2089
Sunday,7-3-2089
Sunday,7-10-2089
Sunday,7-17-2089
Sunday,7-24-2089
Sunday,7-31-2089
Sunday,8-7-2089
Sunday,8-14-2089
Sunday,8-21-2089
Sunday,8-28-2089
Sunday,9-4-2089
Sunday,9-11-2089
Sunday,9-18-2089
Sunday,9-25-2089
Sunday,10-2-2089
Sunday,10-9-2089
Sunday,10-16-2089
Sunday,10-23-2089
Sunday,10-30-2089
Sunday,11-6-2089
Sunday,11-13-2089
Sunday,11-20-2089
Sunday,11-27-2089
Sunday,12-4-2089
Sunday,12-11-2089
Sunday,12-18-2089
Sunday,12-25-2089